version: '3.1'

volumes:
    prometheus_data: {}
    grafana_data: {}

services:
  nginx:
    image: nginx:alpine
    volumes:
     - ./nginx.conf/:/etc/nginx/conf.d/:ro
    ports:
     - 80:80
    depends_on:
      - prometheus
      - alertmanager
    restart: always

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./alerts.yml:/etc/prometheus/alerts.yml:ro
    ports:
      - 9090:9090
    links:
      - alertmanager:alertmanager
    restart: always

  alertmanager:
    image: prom/alertmanager
    ports:
      - 9091:9093
    restart: always